.primary-background{
    -fx-background-color: #F67F00
}
.secondary-background{
    -fx-background-color:#FBF9F6
}
.succes-background{
    -fx-background-color:#4BB543
}
.white-background{
    -fx-background-color:#fff;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.right-bar-background{
    -fx-background-color:#fff;
    -fx-border-style: hidden solid hidden hidden;
}
.top-bar-background{
    -fx-background-color:#fff;
    -fx-border-style: hidden hidden solid hidden;
}
.white-card{
     -fx-background-color: #fff;
     -fx-background-radius: 20;
}
.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #F67F00;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}

